{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm p-4">
        <h4 class="text-center text-primary mb-4">{{ title }}</h4>

        <form method="post" novalidate>
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="mb-3">
            <label class="form-label">الاسم</label>
            {{ form.name }}
            {% if form.name.errors %}
              <div class="text-danger small">{{ form.name.errors.0 }}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label class="form-label">رقم الجوال</label>
            {{ form.phone_number }}
            {% if form.phone_number.errors %}
              <div class="text-danger small">{{ form.phone_number.errors.0 }}</div>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-success w-100">
            حفظ
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}